@charset "UTF-8";
/* Внутри этого файла подключайте все созданные SASS файлы. Именно этот файл и будет преобразован в css. */
/* Все основные настройки проекта и цветовые схемы расположите в нём. Это удобнее сделать сразу. Определите основные цвета сайта и создайте для них соответствующие переменные. Подключите файл в самом верху файла app.scss. */
.header {
  left: 80px;
  position: absolute;
  top: 25px;
  color: #cacaca;
  z-index: 1;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.horizontal-menu {
  margin-left: 0;
}
.horizontal-menu li {
  list-style-type: none;
  display: inline-block;
  flex-wrap: wrap;
}
.horizontal-menu a {
  text-decoration: none;
  color: #cacaca;
}

.logo {
  margin-right: 60px;
}

.logo-img {
  margin-right: 16px;
  float: left;
}
.logo-img img {
  width: 24px;
  height: 24px;
  margin-left: 0;
}

.menu {
  margin-left: 24px;
}

.search form {
  margin-left: 350px;
  font-weight: normal;
  font-size: 13.3px;
  outline: none;
}

.search input {
  width: 248px;
  height: 25px;
  padding: 5px 0px 5px 5px;
  color: #757575;
  outline: none;
  border-radius: 50px;
  background-color: #3c3b3d;
  border-style: none;
  text-transform: uppercase;
}

.main {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/banner.png");
  background-position: center;
  background-size: cover;
}
.main h1 {
  margin-bottom: 0;
  margin-top: 65px;
  margin-left: 0px;
  margin-right: 0px;
  color: #ffffff;
}
.main h2 {
  margin-bottom: 22px;
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
  color: #ffffff;
}
.main p {
  padding-top: 0;
  margin-top: 0;
  color: #ffffff;
}

.main h1, .main h2, .main p, .access-music, .main-pricing h2, .main-news h2, .main-app h2, .ps {
  text-align: center;
}

.access-data input {
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  padding-left: 20px;
  margin-bottom: 1.5rem;
  font-size: 14px;
  color: #ffffff;
}

.access-data + .access-data {
  margin-left: 24px;
}

/*.get-access form{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
} */
.get-access input {
  box-sizing: border-box;
  width: 570px;
  min-height: 57px;
  background: #34c176;
  border-radius: 5px;
  border-style: none;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 1200px) {
  /*  Block Page Pricing */
  #page-pricing {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    color: #ffffff;
  }
  #page-pricing h2 {
    margin-bottom: 50px;
  }
  #page-pricing h3 {
    margin-bottom: 180px;
  }

  .price-page-item:nth-child(1) {
    background-image: url("../images/subscribe_1.png");
    margin-left: -45px;
  }

  .price-page-item:nth-child(2) {
    background-image: url("../images/subscribe_2.png");
  }

  .price-page-item:nth-child(3) {
    background-image: url("../images/subscribe_3.png");
  }

  .price-page-items {
    margin-bottom: 50px;
    /* & li{
      list-style-type: none; 
      display: inline-block;
      flex-wrap: wrap;
    } */
  }

  .price-page-item {
    width: 371px;
    height: 619px;
    text-align: center;
    background-size: contain;
    background-repeat: no-repeat;
    color: #ffffff;
  }
  .price-page-item h3 {
    font-size: 24px;
    line-height: 36px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
  }

  .price-page-item + .price-page-item {
    margin-left: 45px;
  }

  .pricing-item {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
  }

  .pricing-value {
    text-align: center;
    margin: 0;
    font-size: 64px;
    font-weight: normal;
    margin-bottom: 24px;
  }

  .pricing-value sup {
    font-size: 32px;
    font-weight: normal;
  }

  .arrange {
    min-width: 300px;
    min-height: 65px;
    padding: 20px 30px;
    background: transparent;
    border: 2px solid #cacaca;
    border-radius: 3px;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 65px;
  }

  .pricing-footer {
    font-size: 13px;
    margin: 0;
    font-style: normal;
    font-weight: normal;
    text-align: center;
  }

  .ps {
    font-size: 16px;
    margin: 0;
  }

  /*  Block Page News */
  #page-news {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    color: #ffffff;
  }
  #page-news h2 {
    margin-bottom: 48px;
  }
  #page-news h3 {
    font-size: 30px;
    line-height: 45px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: left;
  }

  .news-item, .news-item-2 {
    display: block;
    flex-wrap: wrap;
  }

  .news-item-2 {
    margin-top: 85px;
  }

  .news-item img {
    float: left;
    margin-right: 50px;
  }

  .news-body p, .news-body-2 p {
    margin-right: 0;
    margin-left: 0;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #cacaca;
  }

  .news-item-2 img {
    float: right;
    margin-left: 50px;
  }

  .news-author p {
    margin-bottom: 0;
    font-size: 13px;
    margin-top: 15px;
  }
  .news-author img {
    height: 19px;
    width: 19px;
    margin-top: 13px;
    margin-left: 0;
  }

  .news-author img, .news-author p {
    margin-right: 17px;
  }

  .to-album {
    padding: 16px 30px;
    background: transparent;
    border: 2px solid #cacaca;
    border-radius: 3px;
    color: #ffffff;
    line-height: 19.2px;
    text-decoration: none;
    font-size: 12.8px;
    text-transform: uppercase;
    margin-top: 48px;
  }

  /*  Block Page App */
  #page-app {
    width: 100%;
    height: 100%;
    padding-top: 100px;
    margin-bottom: 100px;
  }
  #page-app h2 {
    color: #ffffff;
    margin-bottom: 48px;
  }

  .info-app + .img-mobile-app {
    margin-left: 144px;
  }

  .column-2 {
    column-count: 2;
    column-width: 400px;
  }

  .info-app p {
    margin-right: 0;
    text-align: justify;
    font-size: 16px;
  }

  .info-app button {
    margin-top: 16px;
    min-width: 131px;
    min-height: 53px;
    padding: 16px 40px;
    background: #95390c;
    border-radius: 32px;
    font-size: 12.8px;
    color: #ffffff;
    border-style: none;
  }
}
/*  Block Footer*/
.footer {
  width: 100%;
  height: 100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}
.footer h2 {
  margin-top: 0;
  font-size: 18px;
  text-align: left;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
}

.footer-info {
  column-count: 4;
  margin-bottom: 75px;
  column-gap: 30px;
}
.footer-info ul {
  break-inside: avoid;
  list-style-type: none;
}
.footer-info li {
  text-align: left;
  margin-left: -40px;
}

.footer-info, .else-info {
  margin-left: 120px;
  margin-right: 120px;
}

.footer-info a, .footer-info {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.img-footer {
  display: inline;
  margin-right: 24px;
}

.border-top {
  border-top: 1px solid #e0e0e0;
  margin-bottom: 40px;
}

.else-info ul {
  list-style-type: none;
  margin-left: -40px;
}

.else-info a {
  text-decoration: none;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.else-info li {
  display: inline;
  flex-wrap: wrap;
  margin-right: 15px;
}

/* Artist */
/* Block page description artist */
.artist {
  width: 100%;
  height: 100%;
  position: relative;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url("../images/Morten Harket.png");
  background-position: center;
  background-size: cover;
}

.artist h1, .artist p {
  text-align: left;
  margin-left: 120px;
  margin-right: 120px;
}

.artist h1 {
  margin-bottom: 16px;
}

.artist p {
  margin-top: 0;
  margin-bottom: 48px;
}

.artist-page {
  margin-left: 120px;
  padding-right: 24px;
}
.artist-page button {
  box-sizing: border-box;
  min-width: 200px;
  min-height: 62px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12.8px;
  color: #ffffff;
  line-height: 19.2px;
}

.artist-mix button {
  padding-left: 0px;
  background: #5328a1;
  border: none;
}

.artist-like button {
  padding-left: 40px;
  background: #95390c;
  border: none;
}

.artist-mix + .artist-like {
  margin-left: 24px;
}

.artist-like, .artist-mix {
  position: relative;
}

.artist-mix img {
  position: absolute;
  height: 20px;
  width: 20px;
  top: 20px;
  left: 31px;
}

.artist-like img {
  position: absolute;
  height: 20px;
  width: 17.79px;
  top: 20px;
  left: 31px;
}

@media (min-width: 1200px) {
  /* Block Popular-Track artist */
  #page-popular-track {
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }
  #page-popular-track h2 {
    margin-top: 0;
    margin-bottom: 23px;
    text-align: left;
    color: #ffffff;
  }

  .popular-track {
    box-sizing: border-box;
    width: 526px;
    height: 55px;
    margin-top: 25px;
    margin-right: 49px;
  }
  .popular-track img {
    position: relative;
    margin-right: 15px;
    height: 55px;
    width: 55px;
  }
  .popular-track p {
    font-size: 12.8px;
  }

  .track-info p {
    margin-left: 0;
    margin-top: 0;
  }

  .time-track {
    position: absolute;
    align-self: center;
    left: 620px;
  }

  .time-track-1 {
    position: absolute;
    align-self: center;
    left: 1195px;
  }

  .track-info h3 {
    margin-bottom: 0;
    font-size: 12.8px;
    line-height: 19, 2px;
    font-weight: bold;
    text-transform: uppercase;
  }

  /* Block Page-Discography Artist*/
  #page-discography {
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }
  #page-discography h2 {
    margin-top: 0;
    margin-bottom: 49px;
    text-align: left;
    color: #ffffff;
  }

  .discography-items {
    /* margin-left: 120px;
    margin-right: 120px;  */
  }

  .discography-item {
    margin-right: 50px;
    margin-bottom: 25px;
  }
  .discography-item img {
    width: 250px;
    height: 250px;
    margin: 0;
  }

  .discography-item:nth-child(4) {
    margin-right: 0;
  }

  .discography-item:nth-child(5) {
    margin-bottom: 0;
  }

  .discography-item:nth-child(6) {
    margin-bottom: 0;
  }

  .discography-info h3 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 0;
    color: #ffffff;
    text-transform: capitalize;
  }

  .discography-info p {
    margin: 0;
    font-size: 16px;
    color: #e0e0e0;
    line-height: 24px;
  }

  /* Block Page- Similar Artist*/
  #page-similar {
    width: 100%;
    height: 100%;
    padding-top: 100px;
  }
  #page-similar h2 {
    margin-top: 0;
    margin-bottom: 49px;
    text-align: left;
    color: #ffffff;
  }

  .similar-items {
    /* margin-left: 120px;
     margin-right: 120px; */
    margin-bottom: 100px;
  }

  .similar-item {
    align-self: center;
    margin-left: 0;
    margin-right: 50px;
    margin-bottom: 25px;
  }
  .similar-item img {
    width: 250px;
    height: 250px;
  }

  .similar-item:nth-child(5), .similar-item:nth-child(6),
.similar-item:nth-child(7), .similar-item:nth-child(8) {
    margin-bottom: 0;
  }

  .similar-info h3 {
    font-size: 18px;
    text-align: center;
    line-height: 27px;
    font-weight: bold;
    margin-top: 18px;
    margin-bottom: 0;
    color: #ffffff;
    text-transform: capitalize;
  }

  .similar-info p {
    text-align: center;
    margin: 0;
    font-size: 16px;
    color: #e0e0e0;
    line-height: 24px;
  }
}
/*  Внутри файла расположите базовые стили проекта, которые не привязаны к конкретной секции. */
@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Regular.ttf);
}
body {
  font-family: "Roboto";
  font-size: 18px;
  line-height: 1.5;
  color: #cacaca;
  background-color: #08020d;
  margin: 0;
}

@media (min-width: 1240px) {
  .container {
    box-sizing: content-box;
    max-width: 1200px;
    margin: 0 auto;
  }

  .d-flex {
    display: flex;
  }

  .f-wrap {
    flex-wrap: wrap;
  }

  .fd-column {
    flex-direction: column;
  }

  .fd-row {
    flex-direction: row;
  }

  .jc-center {
    justify-content: center;
  }

  .jc-left {
    justify-content: left;
  }

  .jc-end {
    justify-content: end;
  }

  .al-it-center {
    align-items: center;
  }

  .btn {
    text-align: center;
  }

  h1 {
    font-size: 60px;
    line-height: 90px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-size: 38px;
    line-height: 57px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
@media (width: 414px) {
  h1 {
    font-size: 30px;
    line-height: 45px;
    font-weight: bold;
    text-transform: uppercase;
  }

  h2 {
    font-size: 18px;
    line-height: 27px;
    font-weight: bold;
    text-transform: uppercase;
  }

  /*  Block HEADER */
  .header {
    max-width: 414px;
    left: -20px;
    right: 0;
  }

  .horizontal-menu li {
    display: flex;
    flex-wrap: wrap;
  }

  .logo {
    margin-bottom: 23px;
  }

  .logo-img {
    margin-top: -5px;
  }

  .menu {
    margin-left: 0;
  }

  .search form {
    margin-left: 0;
    margin-top: 23px;
  }

  .search input {
    width: 374px;
  }

  /*  Block Main Page-description */
  .main h1, h2, p {
    margin-left: 20px;
    margin-right: 20px;
  }

  .main p {
    font-size: 16px;
  }

  .access-data input, .get-access input {
    min-width: 374px;
    min-height: 50px;
  }

  .access-data + .access-data {
    margin-left: 0;
  }

  /* Block Page Pricing */
  #page-pricing h2 {
    font-size: 18px;
  }

  #page-pricing h3 {
    font-size: 16px;
    margin-bottom: 180px;
    line-height: 24px;
  }

  .price-page-item + .price-page-item {
    margin-left: 0;
  }

  .price-page-item:nth-child(1) {
    margin-left: 0;
  }

  .price-page-items {
    margin-left: 0px;
    margin-bottom: 0;
  }

  .price-page-item {
    margin-bottom: 30px;
  }

  .ps {
    margin-top: 0px;
    font-size: 16px;
    margin-right: 20px;
    margin-left: 20px;
  }

  /*  Block Page News */
  .news-item, .news-item-2 {
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
  }

  .news-item-2 img, .news-item img {
    width: 374px;
    height: 186px;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 48px;
  }

  #page-news h3 {
    font-size: 16px;
    font-weight: 400;
  }

  .news-body p, .news-body-2 p {
    margin-left: 0;
    margin-right: 0;
  }

  .news-author img, .news-author p {
    margin-right: 0px;
  }

  .news-author img {
    height: 19px;
    width: 19px;
    margin-top: 12px;
    margin-left: 0;
    margin-bottom: 0;
  }

  /*  Block Page App */
  #page-app {
    margin-left: 0px;
    margin-right: 0px;
  }

  .column-2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .info-app, .img-mobile-app {
    margin-left: 0;
    margin-right: 0;
  }

  .info-app + .img-mobile-app {
    margin-left: 0;
  }

  .info-app p {
    text-align: left;
    margin-right: 20px;
  }

  .info-app button, .img-mobile-app {
    margin-left: 20px;
  }

  .img-mobile-app {
    order: -1;
  }

  /*  Block Footer*/
  .footer-info {
    column-count: 1;
  }

  .footer-info, .else-info {
    margin-left: 20px;
    margin-right: 20px;
  }

  .footer h2 {
    margin-left: 0px;
  }

  .else-info li {
    display: flex;
    margin-bottom: 16px;
  }

  /* Artist */
  /* Block page description artist */
  .artist h1, .artist p {
    text-align: left;
    margin-left: 20px;
    margin-right: 20px;
  }

  .artist-mix + .artist-like {
    margin-left: 0;
    margin-top: 24px;
  }

  .artist-page {
    margin-left: 20px;
    margin-right: 20px;
  }

  /* Block Popular-Track artist */
  #page-popular-track h2 {
    /*margin-left: 20px; */
  }

  .popular-track-list {
    display: flex;
    margin-right: 0;
    margin-left: 20px;
    margin-bottom: 25px;
    flex-direction: column;
  }

  .popular-track {
    display: flex;
    flex-direction: row;
    position: relative;
    margin-right: 0px;
  }

  .time-track {
    position: absolute;
    left: 330px;
  }

  .time-track-1 {
    position: absolute;
    left: 330px;
  }

  /* Block Page-Discography Artist*/
  #page-discography h2 {
    margin-left: 20px;
  }

  .discography-items {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
  }

  .discography-item:nth-child(5) {
    margin-right: 50px;
  }

  .discography-item:nth-child(6) {
    margin-right: 0;
  }

  .discography-item img {
    width: 137px;
    height: 137px;
    margin: 0;
  }

  .discography-info {
    box-sizing: border-box;
    width: 137px;
    margin-right: 0px;
  }

  /* Block Page- Similar Artist*/
  #page-similar h2 {
    margin-left: 20px;
    margin-top: 0;
  }

  .similar-items {
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
  }

  .similar-item {
    margin-bottom: 25px;
    margin-right: 50px;
  }

  .similar-item:nth-child(5), .similar-item:nth-child(6) {
    margin-bottom: 25px;
  }

  .similar-item img {
    width: 137px;
    height: 137px;
    margin: 0;
  }

  .similar-item p {
    box-sizing: border-box;
    width: 137px;
    margin-right: 0px;
  }
}

/*# sourceMappingURL=style.css.map */
