/* Все основные настройки проекта и цветовые схемы расположите в нём. Это удобнее сделать сразу. Определите основные цвета сайта и создайте для них соответствующие переменные. Подключите файл в самом верху файла app.scss. */
.header {
  left:80px;
  position: absolute;
  top: 25px;
  color: #cacaca;
  z-index: 1;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.horizontal-menu {
  padding-left: 0;
  margin-left:20px;
  position: relative;

& li{
  list-style-type: none; 
  display: inline-block;
  flex-wrap: wrap;
}
& a{
  text-decoration: none;
  color: #cacaca;
}
}

.logo{
  margin-right: 88px;
  text-align:left;
}

.logo-img{
  margin-top: -5px;
  margin-right:16px;
  float: left; 

& img {
  width:24px;
  height: 24px;
  margin-left:0;
}
}

.menu{
  box-sizing: border-box;
  margin-left:24px;
}
.horizontal-menu li:nth-child(3){
  margin-left:0;
}
.search form {
  position: absolute;
  padding-left: 0;
  right: -670px; 
  top: 5px;
  font-weight: normal;
  font-size: 13.3px;
  outline: none;   
}

.search input{
  width: 248px;
  height: 25px;
  padding:5px 0px 5px 5px;
  color: #757575;
  outline: none;
  border-radius: 50px;
  background-color: #3c3b3d;
  border-style: none;
  text-transform: uppercase;
}
#page-description .container{
    width:1200px;
    padding-left: 0;
    padding-right: 0;
}
.main {
  width: 100%;
  height:100%;
  position: relative;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;

& h1 {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  color: #ffffff;
  font-weight: bold;
}
  
& h2{
  margin-bottom: 32px;
  margin-top: 0;
  margin-left: 0px;
  margin-right: 0px;
  color:#ffffff;
  font-weight: bold;
}
& p{
    padding-top: 0;
    margin-top: 0;
    color: #ffffff;
    font-size: 16px;
    margin-bottom: 16px;
}
}

 .main h1 , .main h2 , .main p , .access-music , .main-pricing h2 , .main-news h2 , .main-app h2 , .ps{
  text-align: center ;
}

.access-data input{
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  padding-left:20px;
  margin-bottom: 1.5rem;
  font-size: 14px;
  color: #ffffff;
}

.access-data +.access-data{
    margin-left: 24px;
  }
/*.get-access form{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
} */
.access{
    box-sizing: border-box;
    width: 570px;
    margin: auto;
}
.get-access{
    width: 570px;
    margin: auto;
}
.get-access input{
  box-sizing:border-box;
  width: 570px;
  height: 57px;
  background: #34c176;
  border-radius: 5px;
  border-style: none;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

/*  Block Page Pricing */
#page-pricing{
  width: 100%;
  height:100%;
  padding-top: 100px;
  color: #ffffff;

& h2{
  margin-top: 0;
  margin-bottom: 46px;
}

& h3{
  margin-bottom: 200px;
}
}

.price-page-item:nth-child(1) {
  background-image: url("../images/subscribe_1.png");
  margin-left: -45px;
  margin-right: 47.6px;
}

.price-page-item:nth-child(2) {
  background-image: url("../images/subscribe_2.png");
  margin-right: 45.6px;
}

.price-page-item:nth-child(3) {
  background-image: url("../images/subscribe_3.png");
}

.price-page-items {
  margin-bottom: 39px;
  margin-left: 5px;

}
.price-page-item:nth-child(1){
    width: 367px;
    height: 619px;
    
}
.price-page-item {
  width: 371px;
  height: 619px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  color:#ffffff;
  margin-bottom: 0x;

& h3{
  font-size: 24px;
  line-height: 45px;
  margin-top: 21px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
}
.price-page-item:nth-child(3){
    margin-right: -40px;
}


.pricing-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem; 
} 

.pricing-value {
  box-sizing: content-box;
  width: 320px;
  height: 66px;
  align-items: flex-start;
  text-align: center;
  padding: 0;
  font-size: 64px;
  font-weight: 400;
  margin: 0; 
  line-height: 96px;
}

.pricing-value sup{
  font-size: 32px;
  font-weight: 400;
  line-height: 48px;
}

.arrange {
  min-width: 320px;
  min-height: 66px; 
  padding: 20px 30px;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 38px;
  margin-bottom: 65px;
}

.pricing-footer{
  font-size: 13px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  line-height: 19.2px;
}

.ps{
  font-size: 16px;
  margin: 0;
  line-height: 24px;
}

  /*  Block Page News */
#page-news{
  width: 100%;
  height:100%;
  padding-top: 100px;
  color: #ffffff;


& h2{
  margin-top: 0;
  margin-bottom: 48px;
}
& h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: left;
}
}

.news-item , .news-item-2{
  display: block;
  flex-wrap: wrap;
}

.news-item-2{
  margin-top: 74px;
}

.news-item img{
  float: left;
  margin-right: 50px;
}

.news-body p , .news-body-2 p{
  margin-right: 0;
  margin-left: 0;
  margin-bottom: 24px;
  text-align: justify;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  text-transform: capitalize;
  color: #cacaca;
}

.news-item-2 img{
  float: right;
  margin-left: 50px;
}

.news-author{
& p{
    margin-bottom: 0;
    font-size: 13px;
    margin-top: 0px;
}
  
& img{
    height: 19px;
    width: 19px;
    margin-top: 0;
    margin-left: 0;
}
}

.news-author img , .news-author p{
    margin-right: 17px;
}

.to-album {
  padding: 16px 30px;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  color: #ffffff;
  line-height: 19.2px;
  text-decoration: none;
  font-size: 12.8px;
  text-transform: uppercase;
  margin-top: 48px;
}
@media (min-width: 1240px){
/*  Block Page News */
#page-news{
   /* width: 100%;
    height:100%; */
    padding-top: 100px;
    padding-bottom: 28px; 
    color: #ffffff;
    margin-bottom: 0;
  
  
  & h2{
    margin-top: 0;
    margin-bottom: 48px;
  }
  & h3 {
    box-sizing: content-box;
    width: 580px;
    height: 45px;
    font-size: 30px;
    line-height: 45px;
    font-weight: normal;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 30px;
    margin-top: 0;
    text-align: left;
  }
  }
  .news-body h3{
    margin-left: 620px;
  }
  .news-item , .news-item-2{
    display: block;
    flex-wrap: wrap;
  }
  
  .news-item-2{
    margin-top: 80px;
  }
  
  .news-item img{
    width: 585px;
    height: 286px;
    float: left;
    margin-right: 50px;
  }
  
  .news-body p {
    box-sizing: content-box;
    width: 580px;
    height: 48px;
    margin-right: 0;
    margin-left: 620px;
    margin-bottom: 24px;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize;
    color: #cacaca;
  }
  .news-body-2 p{
    box-sizing: content-box;
    width: 580px;
    height: 48px;
    margin-right: 0;
    margin-bottom: 15px;
    margin-left: 0px;
    text-align: justify;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-transform: capitalize;
    color: #cacaca;
  }
  
  .news-item-2 img{
    width: 585px;
    height: 286px;
    float: right;
    margin-left: 50px;
  }
  
  .news-author{
  & p{
      margin-bottom: 0;
      font-size: 13px;
      margin-top: 0;
  }
    
  & img{
      height: 19px;
      width: 19px;
      margin-top: 0;
      margin-left: 0;
      margin-bottom: 0;
  }
  }
  .news-author img , .news-author p{
      margin-right: 17px;
  }
  /*.to-album:nth-child(2){
      margin-bottom: 28px;
  } */
  .to-album {
    padding: 16px 30px;
    background: transparent;
    border: 2px solid #cacaca;
    border-radius: 5px;
    color: #ffffff;
    line-height: 19.2px;
    text-decoration: none;
    font-size: 12.8px;
    text-transform: uppercase;
    margin-top: 48px;
    
  }
}
  /*  Block Page App */
#page-app{
  width: 100%;
  height:100%;
  padding-top: 100px;
  margin-bottom: 100px; 

& h2{
  color: #ffffff;
  margin-bottom: 48px;
  margin-top:0;
}
}

.info-app + .img-mobile-app{
  margin-left: 144px;
}
.img-mobile-app{
    width: 333px;
    height: 278px;
}
.column-2{
  column-count: 2;
  column-width: 400px;
}

.info-app p {
  margin-right: 0;
  text-align: justify;
  font-size: 16px;

}

.info-app button{
  margin-top: 0;
  min-width: 131px;
  min-height: 53px;
  padding: 16px 40px;
  background:#95390c;
  border-radius: 32px;
  font-size: 12.8px; 
  color: #ffffff;
  border-style: none;
}

/*  Block Footer*/
.footer{
  width: 100%;
  height:100%;
  padding-top: 62px;
  padding-bottom: 48px;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);
}

 .footer-info h2{
  margin-top: 0px; 
  font-size: 18px;
  text-align: left;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color:#ffffff;
}


.footer-info {
  margin-top: 0;
  column-count: 4;
  margin-bottom: 75px;
  column-gap: 38px;
  column-width: 270px;

& ul{
     
    break-inside: avoid;
    list-style-type: none; 
    margin:0;  
}
  
& li {
   
  text-align: left;
  margin-left: -40px;
}
}
.contact-item:nth-child(1) , .contact-item:nth-child(3){
    display: inline-block;
}
.footer-info , .else-info{
    margin-left: 120px;
    margin-right: 120px;
}

.footer-info a , .footer-info{
  text-decoration: none;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.img-footer {
  display: inline;
  margin-right: 24px;
}

.border-top{
  border-top: 1px solid #e0e0e0;
  margin-bottom: 40px;
}

.else-info {
  margin-left: 120px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.else-info a{
  padding-top: 2.5px;
  padding-bottom: 2.5px;
  text-decoration: none;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.else-item {
  display: inline;
  flex-wrap: wrap;
  margin-right: 15px; 
  line-height: 24px;
}

/* Artist */
/* Block page description artist */
.artist {
  width: 100%;
  height:100%;
  position: relative;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('../images/Morten Harket.png');
  background-position: center;
  background-size: cover;
}

.artist  h1, .artist p{
  text-align: left; 
  margin-left: 120px;
  margin-right: 120px; 
}
.artist h1{
  margin-bottom: 16px;
}

.artist p{
  margin-top: 0;
  margin-bottom: 48px;
}


.artist-page{
  margin-left: 120px;
  padding-right: 24px;

& button{
  box-sizing: border-box;
  min-width: 200px;
  min-height: 62px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12.8px;
  color: #ffffff;
  line-height: 19.2px;
 }
}
.artist-mix button , .artist-like button{
   padding: 20px 30px;

}
.artist-mix button {
  background: #5328a1;
  border: none;
}

.artist-like button{
  background: #95390c;
  border: none;
}

.artist-mix + .artist-like {
  margin-left: 1.5rem;
}

.artist-like , .artist-mix{
  position: relative;
}

.artist-mix img{
  position: absolute;
  height: 20px;
  width: 20px;
  top: 20px;
  left: 31px;
}

.artist-like img{
  position: absolute;
  height: 20px;
  width: 17.79px;
  top: 20px;
  left: 31px;
}

 /* Block Popular-Track artist */
#page-popular-track{
  width: 100%;
  height: 100%;
  padding-top: 100px;

& h2{
  margin-top: 0;
  margin-bottom: 23px;
  text-align: left;
  color:#ffffff;
}
}

 
.popular-track {
  box-sizing: border-box;
  width: 526px;
  height: 55px;
  margin-top: 25px;
  margin-right: 49px; 

& img{
  position: relative;
  margin-right: 15px;
  height: 55px;
  width: 55px;
}

& p {
  font-size: 12.8px;
}
}
.track-info p{
  margin-left: 0;
  margin-top: 0;
}

.time-track {
  position: absolute;
  align-self: center;
  left: 620px;
}
.time-track-1 {
    position: absolute;
    align-self: center;
    left: 1195px;
  }
.track-info h3{
  margin-bottom: 0;
  font-size: 12.8px;
  line-height: 19,2px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Block Page-Discography Artist*/
#page-discography{
  width: 100%;
  height: 100%;
  padding-top: 100px;

& h2{
  margin-top: 0;
  margin-bottom: 49px;
  text-align: left;
  color:#ffffff;
}
}

.discography-items{
  /* margin-left: 120px;
  margin-right: 120px;  */
}

.discography-item{
  margin-right:50px;
  margin-bottom: 25px;

& img{
  width: 250px;
  height: 250px;
  margin:0;
}
}
.discography-item:nth-child(4){
  margin-right:0;
}

.discography-item:nth-child(5){
  margin-bottom: 0;
}

.discography-item:nth-child(6){
  margin-bottom: 0;
}

.discography-info h3{
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  color: #ffffff;
  text-transform: capitalize; 
}

.discography-info p{
  margin:0;
  font-size: 16px;
  color: #e0e0e0;
  line-height: 24px
}

/* Block Page- Similar Artist*/
#page-similar{
  width: 100%;
  height: 100%;
  padding-top: 100px;


& h2{
  margin-top: 0;
  margin-bottom: 49px;
  text-align: left;
  color: #ffffff;
}
}
.similar-items{
 /* margin-left: 120px;
  margin-right: 120px; */
  margin-bottom: 100px;
}

.similar-item{
  align-self: center;
  margin-left: 0;
  margin-right:50px;
  margin-bottom: 25px;


& img{
  width: 250px;
  height: 250px;
}
}
.similar-item:nth-child(5) , .similar-item:nth-child(6) , 
.similar-item:nth-child(7) , .similar-item:nth-child(8) {
    margin-bottom: 0;
}
.similar-info h3{
  font-size: 18px;
  text-align: center;
  line-height: 27px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 0;
  color: #ffffff;
  text-transform: capitalize; 
}

.similar-info p{
  text-align: center;
  margin:0;
  font-size: 16px;
  color: #e0e0e0;
  line-height: 24px;
}
