/* Все основные настройки проекта и цветовые схемы расположите в нём. Это удобнее сделать сразу. Определите основные цвета сайта и создайте для них соответствующие переменные. Подключите файл в самом верху файла app.scss. */
.header {
  left:80px;
  right:120px;
  position: absolute;
  top: 25px;
  color: #cacaca;
  z-index: 1;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
}

.horizontal-menu {
  margin-left:0;

& li{
  list-style-type: none; 
  display: inline-block;
  flex-wrap: wrap;
}
& a{
  text-decoration: none;
  color: #cacaca;
}
}

.logo{
  margin-right: 60px;
}

.logo-img{
  margin-right:16px;
  float: left; 

& img {
  width:24px;
  height: 24px;
  margin-left:0;
}
}

.menu{
  margin-left:24px;
}

.search form {
  margin-left:350px;
  font-weight: normal;
  font-size: 13.3px;
  outline: none;   
}

.search input{
  width: 248px;
  height: 25px;
  padding:5px 0px 5px 5px;
  color: #757575;
  outline: none;
  border-radius: 50px;
  background-color: #3c3b3d;
  border-style: none;
  text-transform: uppercase;
}

.main {
  width: 100%;
  height:100%;
  position: relative;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('../images/banner.png');
  background-position: center;
  background-size: cover;

& h1 {
  margin-bottom: 0;
  margin-top: 0;
}
  
& h2{
  margin-bottom: 32px;
  margin-top: 0;
}
}

 .main h1 , .main h2 , .main p , .access-music , .main-pricing h2 , .main-news h2 , .main-app h2 , .ps{
  text-align: center ;
}

.access-data input{
  box-sizing: border-box;
  min-width: 270px;
  min-height: 50px;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  padding-left:20px;
  margin-bottom: 1.5rem;
  font-size: 14px;
  color: #ffffff;
}

.access-data +.access-data{
    margin-left: 24px;
  }
/*.get-access form{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
} */
.get-access input{
  min-width: 570px;
  min-height: 57px;
  background: #34c176;
  border-radius: 5px;
  border-style: none;
  font-size: 13.3px;
  line-height: 15px;
  text-transform: uppercase;
  color: #ffffff;
}

/*  Block Page Pricing */
#page-pricing{
  width: 100%;
  height:100%;
  padding-top: 100px;
  color: #ffffff;

& h2{
  margin-bottom: 50px;
}

& h3{
  margin-bottom: 180px;
}
}

.price-page-item:nth-child(1) {
  background-image: url("../images/subscribe_1.png");
  margin-left: -45px;
}

.price-page-item:nth-child(2) {
  background-image: url("../images/subscribe_2.png");
}

.price-page-item:nth-child(3) {
  background-image: url("../images/subscribe_3.png");
}

.price-page-items {
  margin-bottom: 50px;

& li{
  list-style-type: none; 
  display: inline-block;
  flex-wrap: wrap;
}
}

.price-page-item {
  width: 371px;
  height: 619px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  color:#ffffff;

& h3{
  font-size: 24px;
  line-height: 45px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
}

.price-page-item + .price-page-item {
  margin-left: 45px;
}

.pricing-item {
  padding-right: 1.5rem;
  padding-left: 1.5rem; 
}

.pricing-value {
  text-align: center;
  margin: 0;
  font-size: 64px;
  font-weight: normal;
  margin-bottom: 24px;
}

.pricing-value sup{
  font-size: 32px;
  font-weight: normal;
}

.arrange  {
  min-width: 300px;
  min-height: 65px;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  color: #ffffff;
  text-decoration: none;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 65px;
}

.pricing-footer{
  font-size: 13px;
  margin: 0;
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.ps{
  font-size: 16px;
  margin-right: 120px;
  margin-left: 120px;
}

  /*  Block Page News */
#page-news{
  width: 100%;
  height:100%;
  padding-top: 100px;
  color: #ffffff;
}

#page-news h2{
  margin-bottom: 48px;

& h3 {
  font-size: 30px;
  line-height: 45px;
  font-weight: normal;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 30px;
  margin-top: 0;
  text-align: left;
}
}

.news-item , .news-item-2{
  display: block;
  flex-wrap: wrap;
  margin-left: 120px;
  margin-right: 120px;
}

.news-item-2{
  margin-top: 85px;
}

.news-item img{
  float: left;
  margin-right: 50px;
}

.news-body p , .news-body-2 p{
  margin-right: 0;
  margin-left: 0;
  text-align: justify;
  font-size: 16px;
  color: #cacaca;
}

.news-item-2 img{
  float: right;
  margin-left: 50px;
}

.news-author{
& p{
    font-size: 13px;
    margin-top: 15px;
}
  
& img{
    height: 19px;
    width: 19px;
    margin-top: 13px;
    margin-left: 0;
}
}

.news-author img , .news-author p{
  margin-right: -96px;
}

.to-album {
  width: 135px;
  height: 53px;
  background: transparent;
  border: 2px solid #cacaca;
  border-radius: 3px;
  color: #ffffff;
  text-decoration: none;
  font-size: 13px;
  text-transform: uppercase;
  margin-top: 45px;
}

  /*  Block Page App */
#page-app{
  width: 100%;
  height:100%;
  padding-top: 100px;
  padding-bottom: 100px; 

& h2{
  color: #ffffff;
  margin-bottom: 48px;
}
}

.info-app + .img-mobile-app{
  margin-left: 144px;
}

.column-2{
  column-count: 2;
  column-width: 600px;
}
 /*.info-app{
    margin-left: 120px;
    
} */
/* .img-mobile-app {
    margin-right: 120px;
} */
.info-app p {
  margin-right: 0;
  text-align: justify;
  font-size: 16px;
}

.info-app input{
  margin-left: 120px;
  margin-top:16px;
  min-width: 131px;
  min-height: 53px;
  background:#95390c;
  border-radius: 32px;
  border-style: none;
  font-size: 12,8px; 
  color: #ffffff;
  text-align: center;
}

/*  Block Footer*/
.footer{
  width: 100%;
  height:100%;
  padding-top: 3rem;
  padding-bottom: 2rem;
  background: linear-gradient(89.75deg, #5328a1 32.83%, #95390c 81.56%);

& h2{
  margin-top: 0;
  font-size: 18px;
  text-align: left;
  line-height: 27px;
  font-weight: bold;
  text-transform: uppercase;
  color:#ffffff;
}
}

.footer-info {
  column-count: 4;
  margin-bottom: 75px;

& ul{
    break-inside: avoid;
    list-style-type: none;   
}
  
& li {
  text-align: left;
  margin-left: -40px;
}
}

.footer-info , .else-info{
  margin-left: 120px;
  margin-right: 120px;
}

.footer-info a , .footer-info{
  text-decoration: none;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.img-footer {
  display: inline;
  margin-right: 24px;
}

.border-top{
  border-top: 1px solid #e0e0e0;
  margin-bottom: 40px;
}

.else-info ul{
  list-style-type: none;
  margin-left: -40px;
}

.else-info a{
  text-decoration: none;
  color: #e0e0e0;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
}

.else-info li{
  display: inline;
  flex-wrap: wrap;
  margin-right: 15px;  
}

/* Artist */
/* Block page description artist */
.artist {
  width: 100%;
  height:100%;
  position: relative;
  margin-top: 0;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url('../images/Morten Harket.png');
  background-position: center;
  background-size: cover;
}

.artist h1 , p{
  text-align: left;
  margin-left: 120px;
  margin-right: 120px;


& h1{
  margin-bottom: 0px;
}

& p{
  margin-bottom: 48px;
}
}

.artist-page{
  margin-left: 120px;
  margin-right: 120px;
  padding-right: 24px;

& input{
  box-sizing: border-box;
  min-width: 200px;
  min-height: 62px;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 12.8px;
  color: #ffffff;
 }
}
.artist-mix input{
  height:12,8px;
  background: #5328a1;
  border: none;
}

.artist-like input{
  background: #95390c;
  border: none;
}

.artist-mix +.artist-like {
  margin-left: 24px;
}

.artist-like , .artist-mix{
  position: relative;
}

.artist-mix img{
  position: absolute;
  height: 24px;
  width: 24px;
  top: 20px;
  left: 31px;
}

.artist-like img{
  position: absolute;
  height: 24px;
  width: 24px;
  top: 20px;
  left: 18px;
}

 /* Block Popular-Track artist */
#page-popular-track{
  width: 100%;
  height: 100%;
  padding-top: 100px;

& h2{
  margin-left: 120px;
  margin-bottom: 23px;
  text-align: left;
  color:#ffffff;
}
}
.popular-track-list{
  justify-content: left; 
  margin-left: 120px;
}
 
.popular-track {
  margin-top: 25px;
  margin-right: -60px;

& img{
  margin-right: 15px;
  height: 55px;
  width: 55px;
}

& p {
  font-size: 12.8px;
}
}
.track-info p{
  margin-left: 0;
  margin-top: 0;
}

.time-track{
  align-self: center;
  margin-left: 130px; 
}

.track-info h3{
  margin-bottom: 0;
  font-size: 12.8px;
  line-height: 19,2px;
  font-weight: bold;
  text-transform: uppercase;
}

/* Block Page-Discography Artist*/
#page-discography{
  width: 100%;
  height: 100%;
  padding-top: 100px;

& h2{
  margin-left: 120px;
  margin-bottom: 49px;
  text-align: left;
  color:#ffffff;
}
}

.discography-items{
  margin-left: 120px;
  margin-right: 120px;  
}

.discography-item{
  margin-right:50px;
  margin-bottom: 25px;

& img{
  width: 250px;
  height: 250px;
  margin:0;
}
}
.discography-item:nth-child(4){
  margin-right:0;
}

.discography-item:nth-child(5){
  margin-bottom: 0;
}

.discography-item:nth-child(6){
  margin-bottom: 0;
}

.discography-info h3{
  font-size: 18px;
  line-height: 27px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 0;
  color: #ffffff;
}

.discography-info p{
  margin:0;
  font-size: 16px;
  color: #e0e0e0;
  line-height: 24px
}

/* Block Page- Similar Artist*/
#page-similar{
  width: 100%;
  height: 100%;
  padding-top: 100px;


& h2{
  margin-left: 120px;
  margin-bottom: 49px;
  text-align: left;
  color: #ffffff;
}
}
.similar-items{
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 100px;
}

.similar-item{
  align-self: center;
  margin-left: 0;
  margin-right:50px;
  margin-bottom: 25px;

& img{
  width: 250px;
  height: 250px;
}
}
.similar-info h3{
  font-size: 18px;
  text-align: center;
  line-height: 27px;
  font-weight: bold;
  margin-top: 18px;
  margin-bottom: 0;
  color: #ffffff;
}

.similar-info p{
  text-align: center;
  margin:0;
  font-size: 16px;
  color: #e0e0e0;
  line-height: 24px;
}